{% extends "file_base.html" %}

{% block head %}
<h2 class="pull-left">
	File <span class="page-meta">Update</span>
</h2>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span9">

		<!-- Widget -->
		<div class="widget wgreen">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Update File</div>
				<div class="clearfix"></div>
			</div>

			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">

					<form class="form-horizontal" action="/files/update/{{ id }}/" method="post">

						<!-- Name -->
						<div class="control-group">
							<label class="control-label" for="subject">Name</label>
							<div class="controls">{{ form.name }}</div>
						</div>

						<!-- Description -->
						<div class="control-group">
							<label class="control-label" for="content">Description</label>
							<div class="controls">{{ form.description }}</div>
						</div>

						<hr />

						{% csrf_token %}
						<button type="submit" class="btn btn-info">Submit</button>
						<button type="button" id="cancel" class="btn btn-warning">Cancel</button>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
			<!-- Widget ends -->

		</div>
	</div>

	<div class="span3">
		<div class="widget worange">
			<div class="widget-head">
				<div class="pull-left">Tags</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> <a
						href="#" class="wclose"><i class="icon-remove"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd"></div>
			</div>

		</div>

	</div>
</div>
{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#cancel').click(function() {
			location.href = '/files'
		});
	});
</script>
{% endblock %}