{% extends "file_base.html" %}

{% load staticfiles %}

{% block head %}
<h2 class="pull-left">
	Files <span class="page-meta">All Files</span>
</h2>
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="widget wgreen">
		<!-- Widget head -->
		<div class="widget-head">
			<div class="pull-left">File List</div>
			<div class="clearfix"></div>
		</div>

		<!-- Widget content -->
		<div class="widget-content referrer">
			<table id="tags" class="table table-bordered">
				<tr>
					<th class="span1"><center>ID</center></th>
					<th class="span2">Name</th>
					<th class="span3">Description</th>
					<th class="span1">Upload By</th>
					<th class="span2">Upload Time</th>
					<th class="span3">Actions</th>
				</tr>
				{% for file in files %}
				<tr>
					<td>{{ file.id }}</td>
					<td>{{ file.name }}</td>
					<td>{{ file.description }}</td>
					<td>{{ file.uploaded_by.get_full_name }}</td>
					<td>{{ file.upload_date_time }}</td>
					<td>
						<a href="{% static 'uploaded' %}/{{ file.attachment }}" target="_blank">Download</a>
						{% if is_superuser %}
						| <a href="/files/update/{{ file.id }}">Update</a>
						| <a href="/files/delete/{{ file.id }}">Delete</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="widget-foot">
			<!-- Footer goes here -->
		</div>
		<!-- Widget ends -->

	</div>
</div>

{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#upload').click(function() {
			location.href = '/files/upload'
		});
	});
</script>
{% endblock %}