#article-content {
	font-family: 'jaf-facitweb', 'Hevetica Neue', 'Helvetica', 'Segoe UI', 'Roboto', 'Droid Sans', 'Arial', 'sans-serif' !important;
	font-size: 15px;
}

.pull-right a.article-action {
	margin-right: 10px;
}