{% load staticfiles %}

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- jQuery UI -->
<script src="{% static 'js/jquery-ui-1.10.2.custom.min.js' %}"></script>

<!-- Full Google Calendar - Calendar -->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>

<!-- RateIt - Star rating -->
<script src="{% static 'js/jquery.rateit.min.js' %}"></script>

<!-- prettyPhoto -->
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

<!-- jQuery Flot -->
<script src="{% static 'js/excanvas.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>

<!-- jQuery Gritter -->
<script src="{% static 'js/jquery.gritter.min.js' %}"></script>

<!-- Sparklines -->
<script src="{% static 'js/sparklines.js' %}"></script>

<!-- CLEditor -->
<script src="{% static 'js/jquery.cleditor.min.js' %}"></script>

<!-- Date picker -->
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Bootstrap Toggle -->
<script src="{% static 'js/jquery.toggle.buttons.js' %}"></script>

<!-- Filter for support page -->
<script src="{% static 'js/filter.js' %}"></script>

<!-- Custom codes -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Custom chart codes -->
<script src="{% static 'js/charts.js' %}"></script>

<!-- Syntax Highlighter -->
<script src="{% static 'js/syntax-highlighter/shCore.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushAppleScript.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushAS3.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushBash.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushColdFusion.js'' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushCpp.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushCSharp.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushCss.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushDelphi.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushDiff.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushErlang.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushGroovy.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushJava.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushJavaFX.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushJScript.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushPerl.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushPhp.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushPlain.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushPowerShell.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushPython.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushRuby.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushSass.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushScala.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushSql.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushVb.js' %}"></script>
<script src="{% static 'js/syntax-highlighter/shBrushXml.js' %}"></script>

<!-- Genghis javascript files-->
<script src="{% static 'js/genghis/gallery.js' %}"></script>
