<div class="sidebar">
	<div class="sidebar-dropdown">
		<a href="#">Navigation</a>
	</div>

	<div class="sidebar-inner">
		<!--- Sidebar navigation -->
		<!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
		<ul class="navi">

			<!--
				Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color.
				You need to use this in <li> tag.
			-->
			<li class="has_submenu nblue">
				<a href="#"><i class="icon-edit"></i>Articles</a>
				<ul>
					<li><a href="/articles">All</a></li>
					<li><a href="/articles/bytag/csharp">C#</a></li>
					<li><a href="/articles/bytag/java">Java</a></li>
				</ul>
			</li>

			<li class="nviolet">
				<a href="/photos/gallery"><i class="icon-picture"></i>Photos</a>
			</li>
			
			<li class="ngreen">
				<a href="/files"><i class="icon-file"></i>Files</a>
			</li>
			
			<li class="nred">
				<a href="/wiki" target="_blank"><i class="icon-star-empty"></i>Wiki</a>
			</li>

			<li class="has_submenu norange">
				<a href="#"><i class="icon-edit"></i>About</a>
				<ul>
					<li><a href="/about/website">The Blog</a></li>
					<li><a href="/about/profile">My Profile</a></li>
				</ul>
			</li>
			
			<li class="has_submenu ngray">
				<a href="#"><i class="icon-group"></i>Vistors</a>
				<ul>
					<li>
						<div id="clustrmaps-widget"  style="margin: 20px 30px;"></div>
						
						<script type="text/javascript">
							var _clustrmaps = {
								'url' : 'http://shigengyu.com',
								'user' : 1116813,
								'server' : '2',
								'id' : 'clustrmaps-widget',
								'version' : 1,
								'date' : '2013-10-13',
								'lang' : 'en',
								'corners' : 'square'
							};
							
							(function () {
								var s = document.createElement('script');
								s.type = 'text/javascript'; 
								s.async = true;
								s.src = 'http://www2.clustrmaps.com/counter/map.js';
								var x = document.getElementsByTagName('script')[0];
								x.parentNode.insertBefore(s, x);
							})();
						</script>
						
						<noscript>
							<a href="http://www2.clustrmaps.com/user/a4d110a8d">
								<img src="http://www2.clustrmaps.com/stats/maps-no_clusters/shigengyu.com-thumb.jpg" alt="Locations of visitors to this page" />
							</a>
						</noscript>
					</li>
				</ul>
			</li>			
		</ul>

		<!-- Date -->
		<div class="sidebar-widget">
			<div id="todaydate"></div>
		</div>
	</div>
</div>