{% load staticfiles %}

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- jQuery UI -->
<script src="{% static 'js/jquery-ui-1.10.2.custom.min.js' %}"></script>

<!-- Full Google Calendar - Calendar -->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>

<!-- RateIt - Star rating -->
<script src="{% static 'js/jquery.rateit.min.js' %}"></script>

<!-- prettyPhoto -->
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

<!-- jQuery Flot -->
<script src="{% static 'js/excanvas.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>

<!-- jQuery Gritter -->
<script src="{% static 'js/jquery.gritter.min.js' %}"></script>

<!-- Sparklines -->
<script src="{% static 'js/sparklines.js' %}"></script>

<!-- CLEditor -->
<script src="{% static 'js/jquery.cleditor.min.js' %}"></script>

<!-- Date picker -->
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Bootstrap Toggle -->
<script src="{% static 'js/jquery.toggle.buttons.js' %}"></script>

<!-- Filter for support page -->
<script src="{% static 'js/filter.js' %}"></script>

<!-- Custom codes -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Custom chart codes -->
<script src="{% static 'js/charts.js' %}"></script>