<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<title>{% block title %}Univer's Blog{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

{% load staticfiles %}
{% include "base_css.html" %}

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
	<script src="{% static 'js/html5shim.js' %}"></script>
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'img/favicon/favicon.png' %}">

</head>

<body>

	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<!-- Menu button for smallar screens -->
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> </a>
				<!-- Site name for smallar screens -->
				<a href="/home" class="brand"> {% block brand %} Univer' Blog {%endblock %} </a>
				
				<!-- Login -->
				<ul class="nav pull-right">
					<li class="dropdown pull-right">					
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							{% if request.user.is_authenticated %}
								{{ request.user.get_full_name }}
							{% else %}
								Login
							{% endif %}
							<b class="caret"></b>
						</a>
						
						<!-- Dropdown menu -->
						<ul class="dropdown-menu">
							{% if not request.user.is_authenticated %}
							<li>
								<a href="{% url 'socialauth_begin' 'google' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/google.png" />Google
									</span>
								</a>
							</li>
							<li>
								<a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/facebook.png" />Facebook
									</span>
								</a>
							</li>
							<li>
								<a href="{% url 'socialauth_begin' 'linkedin' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/linkedin.png" />LinkedIn
									</span>
								</a>
							</li>
							{% else %}
							<li>
								<a href="/home/logout">
									<span class="logout-icon"><i class="icon-off"></i></span>Logout
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
				</ul>
				
				<!-- Admin -->
				{% if request.user.is_authenticated and is_admin %}
				<ul class="nav pull-right">
					<li class="dropdown pull-right">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							Admin
							<b class="caret"></b>
						</a>
						
						<!-- Dropdown menu -->
						<ul class="dropdown-menu">
							<li><a href="/article/create">Create Article</a></li>
							<li><a href="/article/tag">Manage Tags</a></li>
						</ul>
					</li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Main content starts -->
	<div class="content">
		{% include "base_sidebar.html" %}

		<!-- Main bar -->
		<div class="mainbar">

			<!-- Page heading starts -->
			<div class="page-head">
				{% block head %}{% endblock %}

				<!-- Breadcrumb -->
				<div class="bread-crumb pull-right">
					<a href="/"><i class="icon-home"></i>Home</a>
					{% if path != None %}
						{% for item in path %}
							<span class="divider">/</span>
							<a href="{{ item.url }}" class="bread-current">{{ item.name }}</a>
						{% endfor %}
					{% endif %}
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- Page heading ends -->

			<!-- Matter -->
			<div class="matter">
				<div class="container-fluid">{% block content %}{% endblock %}
				</div>
			</div>
			<!-- Matter ends -->

		</div>
		<!-- Mainbar ends -->
	</div>
	<!-- Content ends -->

	<!-- Scroll to top -->
	<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
	
	{% include "base_js.html" %}
	{% block script %}{% endblock %}
</body>
</html>

