<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<title>{% block title %}Univer's Blog{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

{% load staticfiles %}
{% include "base_css.html" %}

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
	<script src="{% static 'js/html5shim.js' %}"></script>
<![endif]-->

<!-- Favicon -->
<!--
	<link rel="shortcut icon" href="{% static 'img/favicon/favicon.png' %}">
 -->

</head>

<body>

	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<!-- Menu button for smallar screens -->
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> </a>
				<!-- Site name for smallar screens -->
				<a href="/home" class="brand"> {% block brand %} Univer's Blog {%endblock %} </a>
				
				<!-- Login -->
				<ul class="nav pull-right">
					<li class="dropdown pull-right">					
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							{% if request.user.is_authenticated %}
								{{ request.user.get_full_name }} ({{ associated_auth_backend }})
							{% else %}
								Login
							{% endif %}
							<b class="caret"></b>
						</a>
						
						<!-- Dropdown menu -->
						<ul class="dropdown-menu">
							{% if not request.user.is_authenticated %}
							<li>
								<a href="{% url 'socialauth_begin' 'google' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/google.png" />Google
									</span>
								</a>
							</li>
							<li>
								<a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/facebook.png" />Facebook
									</span>
								</a>
							</li>
							<li>
								<a href="{% url 'socialauth_begin' 'linkedin' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/linkedin.png" />LinkedIn
									</span>
								</a>
							</li>
							<li>
								<a href="{% url 'socialauth_begin' 'flickr' %}?next={{ request.get_full_path }}">
									<span>
										<img class="login-icon" src="/static/img/flickr.png" />Flickr
									</span>
								</a>
							</li>
							{% else %}
							<li>
								<a href="/home/logout">
									<span class="logout-icon"><i class="icon-off"></i></span>Logout
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
				</ul>
				
				<!-- Admin -->
				{% if is_admin %}
				<ul class="nav pull-right">
					<li class="dropdown pull-right">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							Admin
							<b class="caret"></b>
						</a>
						
						<!-- Dropdown menu -->
						<ul class="dropdown-menu">
							<li><a href="/articles/create">Create Article</a></li>
							<li><a href="/articles/tag">Manage Article Tags</a></li>
							<li><a href="/files/upload">Upload File</a></li>
							<li><a href="/photos">Manage Photos</a></li>
							<li><a href="/photos/upload">Upload Photo</a></li>
							<li><a href="/photos/tags">Manage Photo Tags</a></li>
							<li class="divider"></li>
							<li><a href="/mysql/index.php">Manage My SQL Database</a></li>
						</ul>
					</li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Main content starts -->
	<div class="content">
		{% include "base_sidebar.html" %}

		<!-- Main bar -->
		<div class="mainbar">

			<!-- Page heading starts -->
			<div class="page-head">
				{% block head %}{% endblock %}

				<!-- Breadcrumb -->
				<div class="bread-crumb pull-right">
					<a href="/"><i class="icon-home"></i>Home</a>
					{% if path != None %}
						{% for item in path %}
							<span class="divider">/</span>
							<a href="{{ item.url }}" class="bread-current">{{ item.name }}</a>
						{% endfor %}
					{% endif %}
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- Page heading ends -->

			<!-- Matter -->
			<div class="matter">
				<div class="container-fluid">
				{% block content %}{% endblock %}
				</div>
			</div>
			<!-- Matter ends -->

		</div>
		<!-- Mainbar ends -->
	</div>
	<!-- Content ends -->

	<!-- Scroll to top -->
	<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
	
	{% include "base_js.html" %}
	{% block script %}{% endblock %}
	
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-41755820-1', 'shigengyu.com');
		ga('send', 'pageview');
	</script>
</body>
</html>

