{% extends "base.html" %}

{% block head %}
<h2 class="pull-left">
	Article Tags <span class="page-meta">Manage</span>
</h2>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<table class="table table-bordered ">
		<tr>
			<th class="span1"><center>ID</center></th>
			<th class="span3">Name</th>
			<th class="span5">Display Name</th>
			<th class="span5">Actions</th>
		</tr>
		{% for tag in article_tags %}
		<tr>
			<td>{{ tag.id }}</td>
			<td>{{ tag.name }}</td>
			<td>{{ tag.display_name }}</td>
			<td>
				<button class="btn btn-warning">Rename</button>
				<button class="btn btn-danger">Delete</button>
			</td>
		</tr>
		{% endfor %}
	</table>
	
	<hr />
	<button class="btn btn-info">Create</button>
</div>
{% endblock %}
