{% extends "base.html" %}

{% block head %}
<h2 class="pull-left">
	Articles <span class="page-meta">Create New</span>
</h2>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span9">

		<!-- Widget -->
		<div class="widget wblue">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Article</div>
			</div>

			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">

					<form class="form-horizontal" action="/article/{{ action }}/{% if id %}{{ id }}/{% endif %}"
						method="post">

						<!-- Subject -->
						<div class="control-group">
							<label class="control-label" for="subject">Subject</label>
							<div class="controls">{{ form.subject }}</div>
						</div>

						<!-- Content -->
						<div class="control-group">
							<label class="control-label" for="content">Content</label>
							<div class="controls">{{ form.content }}</div>
						</div>
						
						
						<!-- Tags -->
						<div class="control-group">
							<label class="control-label" for="content">Tags</label>
							<div class="controls">{{ form.tags }}</div>
						</div>

						<hr />

						{% csrf_token %}
						<button type="submit" class="btn btn-info">Submit</button>
						<button id="cancel" type="button" class="btn btn-warning">Cancel</button>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
			<!-- Widget ends -->

		</div>
	</div>

	<div class="span3">
		<div class="widget worange">
			<div class="widget-head">
				<div class="pull-left">Tags</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> <a
						href="#" class="wclose"><i class="icon-remove"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd"></div>
			</div>

		</div>

	</div>
</div>
{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#cancel').click(function() {
			location.href = '/article'
		});
	});
</script>
{% endblock %}