{% extends "base.html" %} {% block head %}
<h2 class="pull-left">
	Articles <span class="page-meta">Create New</span>
</h2>
{% endblock %} {% block content %}
<div class="row-fluid">
	<div class="span9">

		<!-- Widget -->
		<div class="widget wlightblue">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Article</div>
			</div>

			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">

					<form class="form-horizontal" action="/article/create/"
						method="post">
						{% csrf_token %}

						<h6>Contents</h6>
						<hr />

						<!-- Subject -->
						<div class="control-group">
							<label class="control-label" for="subject">Subject</label>
							<div class="controls">
								{{ form.subject }}
							</div>
						</div>
						
						<!-- Content -->
						<div class="control-group">
							<label class="control-label" for="content">Content</label>
							<div class="controls">
								{{ form.content }}
							</div>
						</div>


						<h6>Attachments</h6>
						<hr />

						<div class='file-checkbox'>
							<label>File Upload</label> <input class='file' type='file' />
						</div>

						<hr />

						{% csrf_token %}
						<button type="submit" class="btn btn-info">Save</button>
						<button type="submit" class="btn btn-warning">Submit</button>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
			<!-- Widget ends -->

		</div>
	</div>

	<div class="span3">
		<div class="widget worange">
			<div class="widget-head">
				<div class="pull-left">Tags</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> <a
						href="#" class="wclose"><i class="icon-remove"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd"></div>
			</div>

		</div>

	</div>
</div>
{% endblock %}
