{% extends "base.html" %} {% block head %}
<h2 class="pull-left">
	Article <span class="page-meta">Confirm Delete</span>
</h2>
{% endblock %} {% block content %}

<div class="row-fluid">
	<div class="span12">
		<h6>
			Are you sure to delete article tag <span class="red"><strong>{{ tag.name }}</strong></span> ?
		</h6>
		<hr />
		
		<form class="form-horizontal" action="/articles/tag/delete/{{ tag.id }}/"
			method="post">

			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
			<button id="cancel" type="button" class="btn btn-warning">Cancel</button>
		</form>

	</div>
</div>

{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#cancel').click(function() {
			location.href = '/articles/tag'
		});
	});
</script>
{% endblock %}
