{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<h2 class="pull-left">
	Article <span class="page-meta">Detail</span>
</h2>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span12">

		<!-- Widget -->
		<div class="widget wblue">
			<!-- Widget head -->
			<div class="widget-head">
				<input type="hidden" id="article-id" value="{{ article.id }}" />
				<div class="pull-left">{{ article.subject }}</div>
				<div class="widget-icons pull-right">
					{% if article.author == request.user %}
						<a href="/articles/update/{{ article.id }}"><i class="icon-edit"></i></a>
						<a href="/articles/delete/{{ article.id }}"><i class="icon-remove"></i></a>
					{% endif %}
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>

			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">
					{% if article.tags.all %}
						{% for tag in article.tags.all %}
							<span class="label label-success">{{ tag.display_name }}</span>
						{% endfor %}
						<hr />
					{% endif %}
					
					<div id="article-content">
						{{ article.content|safe }}
					</div>
					
					{% if article.attachments.all %}
						<br /><br /><br />
						<h6>Attachments</h6>
						<hr />
						{% for attachment in article.attachments.all %}
							<a href="{% static 'uploaded' %}/{{ attachment.attachment }}" target="_blank">
								<i class="icon-file"></i> {{ attachment.name }}
							</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			
			<div class="widget-foot">
				{% if article.create_date_time  %}
					Posted by <i>{{ article.author.get_full_name }}</i> on {{ article.create_date_time }}
				{% endif %}
				
				{% if article.update_date_time != article.create_date_time %}
					&nbsp;&nbsp;Last updated on {{ article.update_date_time }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">

		<!-- Widget -->
		<div class="widget wblue">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Comments</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>

			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">
					{% for comment in article.articlecomment_set.all %}
						<span id="comment-{{comment.id}}">
							{{ comment.content|linebreaksbr }}
							-- <i>{{ comment.author.get_full_name }}</i> on {{ comment.update_date_time }}
						</span>
						<span id="comment-actions-{{comment.id}}" class="pull-right">
							{% if article.author == request.user %}
								<a id="update-comment-{{ comment.id }}" class="article-action update-comment"><i class="icon-edit"></i></a>
							{% endif %}
							{% if article.author == request.user or is_admin %}
								<a id="delete-comment-{{ comment.id }}" class="article-action delete-comment"><i class="icon-remove"></i></a>
							{% endif %}
						</span>
						<hr id="comment-hr-{{ comment.id }}" />
					{% endfor %}
					{% include "article_comment_form.html" %}
				</div>
			</div>
			<!-- Widget ends -->
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script>

function setCreateMode() {
	$('textarea#comment-content').val('');
	$('input#comment-id').val('');
	$('button#submit').text('Add Comment');
	$('button#submit').addClass('btn-info');
	$('button#submit').removeClass('btn-warning');
	$('button#cancel').hide();
}

function setUpdateMode(commentId) {
	var url = '/articles/comments/detail/' + commentId;
	$.get(url, function(data) {
		$('#comment-form').attr('action', '/articles/comments/update/' + data.id + '/');
		$('textarea#comment-content').val(data.content);
		$('input#comment-id').val(commentId.toString());
		$('button#submit').text('Update Comment');
		$('button#submit').addClass('btn-warning');
		$('button#submit').removeClass('btn-info');
		$('button#cancel').show();
	});
}

function highlightSyntax() {
	$('#article-content').find('pre').each(function (idx, item) { SyntaxHighlighter.highlight({}, item); });
}

$().ready(function() {
	highlightSyntax();

	$('button#cancel').hide();
	setCreateMode();
	
	$('.update-comment').each(function() {
		$(this).click(function() {
			var id = $(this).attr('id').toString().substr(15);
			setUpdateMode(id);
		});
	});
	
	$('.delete-comment').each(function() {
		$(this).click(function() {
			if (confirm('Are you sure to delete the comment?')) {
				var id = $(this).attr('id').toString().substr(15);
				var url = '/articles/comments/delete/' + id + '/';
				$.post(url, {'comment_id': id}, function(data) {
					if (data.success) {
						$('span#comment-' + id).remove();
						$('span#comment-actions-' + id).remove();
						$('hr#comment-hr-' + id).remove();
					}
				});
			}
		});
	});
	
	$('button#cancel').click(function() {
		setCreateMode();
	});
	
	$('button#submit').click(function() {
		var articleId = $('input#article-id').val();
		var content = $('textarea#comment-content').val();
		var commentId = $('input#comment-id').val();
		if (commentId == '') {
			// create mode
			var url = '/articles/comments/create/';
			$.post(url, {'article_id': articleId, 'content': content}, function(data) {
				if (data.success) {
					location.href = '/articles/detail/' + articleId;
				}
			});
		}
		else {
			// update mode
			var url = '/articles/comments/update/' + commentId + '/';
			$.post(url, {'content': content}, function(data) {
				if (data.success) {
					location.href = '/articles/detail/' + articleId;
				}
			});
		}
	});
});
</script>
{% endblock %}
