{% extends "file_base.html" %}

{% load staticfiles %}

{% block head %}
<h2 class="pull-left">
	Photos <span class="page-meta">All Photos</span>
</h2>
{% endblock %}

{% block content %}

<button id="upload" class="btn btn-warning">Upload New</button>

<div class="row-fluid">
	<div class="span9">
		<div class="widget wviolet">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Photo List</div>
				<div class="clearfix"></div>
			</div>
	
			<!-- Widget content -->
			<div class="widget-content">
				<div class="padd">
					<div class="gallery">
						{% for photo in photos %}
						<!-- Full size image link in anchor tag. Thumbnail link in image tag. -->
						<a href="{% static 'uploaded' %}/{{ photo.attachment }}" id="photo-link-{{ photo.id }}" class="prettyPhoto[pp_gal]">
							<img src="{% static 'uploaded' %}/{{ photo.attachment }}" id="photo-{{ photo.id }}" alt="{{ photo.name }}" />
							<input id="photo-name-{{ photo.id }}" type="hidden" value="{{ photo.name }}" />
							<input id="photo-description-{{ photo.id }}" type="hidden" value="{{ photo.description }}" />
							<input id="photo-source-{{ photo.id }}" type="hidden" value="{{ photo.source }}" />
							<input id="photo-date-{{ photo.id }}" type="hidden" value="{{ photo.date }}" />
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
			<!-- Widget ends -->
	
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#upload').click(function() {
			location.href = '/photos/upload'
		});
	});
</script>
{% endblock %}