{% extends "file_base.html" %}

{% load staticfiles %}

{% block head %}
<h2 class="pull-left">
	Photos <span class="page-meta">All Photos</span>
</h2>
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span12">
		<div class="widget wviolet">
			<!-- Widget head -->
			<div class="widget-head">
				<div class="pull-left">Photo List</div>
				<div class="clearfix"></div>
			</div>
	
			<!-- Widget content -->
			<div class="widget-content">
				<table id="tags" class="table table-bordered">
				<tr>
					<th class="span1"><center>ID</center></th>
					<th class="span1">Name</th>
					<th class="span2">Description</th>
					<th class="span1">Source</th>
					<th class="span2">Date</th>
					<th class="span1">Upload By</th>
					<th class="span2">Upload Time</th>
					<th class="span2">Actions</th>
				</tr>
				{% for photo in photos %}
				<tr>
					<td>{{ photo.id }}</td>
					<td>{{ photo.name }}</td>
					<td>{{ photo.description }}</td>
					<td>{{ photo.source }}</td>
					<td>{{ photo.date }}</td>
					<td>{{ photo.uploaded_by.get_full_name }}</td>
					<td>{{ photo.upload_date_time }}</td>
					<td>
						<a href="{% static 'uploaded' %}/{{ photo.image }}" target="_blank">View</a>
						{% if is_admin %}
						| <a href="/photos/update/{{ photo.id }}">Update</a>
						| <a href="/photos/delete/{{ photo.id }}">Delete</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
			<!-- Widget ends -->
	
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script>
	$().ready(function() {
		$('#upload').click(function() {
			location.href = '/photos/upload'
		});
	});
</script>
{% endblock %}