<p>Some people think, turning your interest into your work could be
	a tragedy, while I don't really agree with this. I love programming,
	and I love being a programmer at work too. While the only problem is
	you are not always free to choose what you would like to code...</p>
<p>I used to mainly program C#, and I do love its elegancy; then
	started Java, which is just for delivering my work, although I think I
	am also good at it, or at least not too bad. While when I came with the
	thought to setup my own blog, I really wanted to try something new.</p>
<p>In fact you may say I am not keeping up pace as Python, the
	language I chose, is not really a new language. While at least it is
	new to me. There is really great difference between programming a
	static language and a dynamic language, at least you won't have that
	much intellisense as you program C#. But I really appreciate the
	flexibility of Python, and I think I have made the right choice,
	relieved not to worry about the dependency on SQL server and IIS.</p>
<p>I am going to write the blog in English only, which is not my
	mother tongue, so I am not going to write any literature articles. I
	won't even write any using Chinese... So I would mainly focus on technical
	articles, explain my findings and thoughts on different technologies. I
	have also started to enjoy photographing, so you may also see some of
	my pictures in the gallery. Remember I am a beginner... :)</p>